.user-window {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--background-color);
  position: relative;
}

.user-window__main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 5px;
}

@media only screen and (max-width: 768px) {
  .user-window__main {
    height: calc(100vh - 80px);
    padding: 16px;
  }
}
