.connections {
  position: relative;
}

.connections__list {
  display: flex;
  flex-wrap: wrap;
}

.connections__empty {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 30px;
  font-size: 30px;
  font-weight: 500;
  color: var(--color-primary-light);
}
