.connections {
  position: relative;
}

.connections__list {
  display: flex;
  flex-wrap: wrap;
}

.connections__empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  font-size: 1rem;
  color: var(--text-color-dark);
}

