.listQualifications{
    padding: 23px;
}
.qualifications__item {
    display: flex;
    height: 49px;
    font-size: 20px;
    padding: 1em .6em;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    color: var(--color-primary);
}
.qualifications__list {
    display: flex;
    flex-wrap: wrap;
}