.connection {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.connection:hover {
  background-color: var(--color-primary-light);
}

.connection__image {
  width: 100%;
}

.connection__image > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.connection__name {
  background-color: var(--color-primary);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.connection__menu {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .connection {
    width: 25%;
  }
}