.quotes {
  margin-top: 60px;
}

.quotes__container {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .quotes__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .quotes {
    margin-top: 30px;
  }
}
