.dashboard {
  width: 386px;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--color-white);
  padding: 20px 0;
}

.dashboard__menu {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.dashboard__profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
}

.dashboard__profile-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dashboard__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__item {
  color: var(--color-primary);
  font-size: 20px;
  padding-bottom: 1px;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.dashboard__item--active {
  border-bottom: 2px solid var(--color-secondary);
}
