.quote {
  position: relative;
  width: 50%;
  animation: show 1s ease-out;
}

.quote:first-child {
  margin-right: 30px;
}

.quote__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 95px;
}

.quote__body {
  margin-left: 120px;
  margin-top: 30px;
  color: var(--color-primary);
  font-size: 20px;
}

.quote__citation {
  font-style: italic;
}

.quote__author {
  font-weight: 500;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .quote__icon {
    width: 80px;
    height: 80px;
  }

  .quote__body {
    margin-left: 105px;
    margin-top: 15px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .quote {
    width: 100%;
  }

  .quote:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .quote:first-child {
    margin-bottom: 15px;
  }

  .quote__icon {
    width: 60px;
    height: 60px;
  }

  .quote__body {
    margin-left: 80px;
    font-size: 16px;
  }
}
