.ListBenefits__div{
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 49px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.ListBenefits__div > p {
    margin-left: 12px;
    margin-right: 12px;
}
