@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.LoginSite__wrapper{
    font-family: 'Montserrat';
    width: 350px;
    height: auto;
    margin: auto auto;
}
.LoginSite__logo{
    width: 350px;
    
}
.LoginSite__label{
    width: 190px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.LoginSite__input{
    width: 150px;

}
.LoginSite__button{
    font-family: 'Montserrat';
    width: 150px;
    margin-top: 30px;
}
.LoginSite__label{
    margin-right: 30px;
}